body{
    
}
input[type = "text"],[type = "password"],[type = "email"]{
    

    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 10%;
    bor
    
    
}