
a{
    text-decoration: none;
    font-style: color wheat;
}

.gnb {
    text-align: center;
    list-style: none;
    align-items: center;
    margin: 100px;
    width: 1000px;
    border-radius: 10px;
    box-shadow:  0 0  1px;
    background-color: #333;
    padding: 20px 30px;
    display: flex;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
   
}
.gnb li {
    flex: 1;
    color: #ccc;
    width: 600px;
    display: inline-block;
}
.gnb li a {
   font-size: large;
   color: rgb(227, 216, 195);
   position: relative;
}

.gnb li a::before{
    content: '';
    position: absolute;
    background-color: #aad;
    height: 2px;
    width: 0px;
    bottom: -10px;
    transition: 0.5s;
    transform: translateX(-50%);
    left: 50%;
}
.gnb li a:hover::before{
    width: 100%;
}









nav{
    width: 500px;
    margin: 0 auto;
    text-align: center;

}
nav ul {
    
    list-style: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 50px;
    text-decoration: none;
}

nav ul li {
    float: left;
    text-align: center;
    margin-top: -20px;
    padding: 50px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
}   
nav ul li a:hover {
    background-color: #ccc;
    color: aqua;
    
}


.t1 {
   
    font-size: 100px;
    text-align: center;
}
.top{
    text-align: center;
    align-items: center;
  
}
.top img{
    width: 1000px;
    height: 1000px;
}
.selectBox{
    display: inline-block;

}
.selectBox span {
    top: 0%;    
}